<div class="container m-2">
  <div class="row">
    <div class="col-md-12 text-right">
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#form">
      Add Booking request
    </button>  
    </div>
  </div>

</div>

<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="exampleModalLabel">Create Booking request</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/client" method="post">
          <div class="modal-body">
            <div class="form-group">
              <label for="customername">Client Name</label>
              <input type="text" class="form-control" id="customername" name="customername" aria-describedby="emailHelp" placeholder="Enter name">
              <small id="emailHelp" class="form-text text-muted">Your information is safe with us.</small>
            </div>
            <div class="form-group">
              <label for="customerphone">Contact</label>
              <input type="text" class="form-control" id="customerphone" name="customerphone" placeholder="Enter phone num">
            </div>
            <div class="form-group">
              <label for="location">Pick up location</label>
              <input type="text" class="form-control" id="location" placeholder="Address, Places to pick up">
            </div>
            <div class="form-group">
              <label for="taxitype">Taxi type</label>
              <select class="form-control" name="taxitype" id="taxitype">
                <option value="4">4 seat</option>
                <option value="7">7 seat</option>
              </select>
            </div>
          </div>
          <div class="modal-footer border-top-0 d-flex justify-content-center">
            <button type="submit" class="btn btn-success">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>